html {
    scroll-behavior: smooth;
  }

section{
    min-height: 100vh;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.none{
    display: none !important;
}

@media screen and (max-width: 800px){
    section{
        min-height: 0;
        height: 100%;
    }
}