.perfil{
    width: 78%;
    height: 360px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 15px;
    transition: .2s ease;

    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.671);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: #05152e91;
}

.perfil .perfil-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.perfil .perfil-foto img{
    border-radius: 50%;
    border: 3px solid var(--white);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.perfil .perfil-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.boxPerfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perfil h2{
    font-size: 36px;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.perfil h3{
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.perfil p{
    font-size: 19px;
    font-weight: 600;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil .fecha{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.perfil .hora{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px){
    .perfil h2{
        font-size: 30px;
    }

    .perfil h3{
        font-size: 18px;
    }

    .perfil p{
        font-size: 15px;
    }
}

@media (max-width: 920px){
    .perfil{
        width: 78%;
        height: 782px;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        margin-top: 100px;
        margin-bottom: 78px;
    }

    .perfil h2{
        margin-top: 20px;
    }
}

@media (max-width: 594px){
    .perfil h2{
        font-size: 28px;
    }

    .email-box{
        flex-direction: column;
    }
}

@media (max-width: 426px){
    .perfil h3{
        font-size: 16px;
    }
}

@media (max-width: 379px){
    .perfil h3{
        font-size: 15px;
    }
}